<div id="preview-background" data-background-color= <%= @wallpaper.colour_scheme.background %>>
	<div id="quote" data-font-color= <%= @wallpaper.colour_scheme.font %>>
		<%= @wallpaper.quote %>
	</div>
</div>

