<!-- <div id="title_bar"><h1><%# @user.name %></h1></div> -->
<div class="thumbs-wrapper">
	<% @user.wallpapers.each do |wallpaper|  %>
		<div class="wallpaper-thumbs">
			<div><%= link_to (image_tag wallpaper.thumb), wallpaper_path(wallpaper.id) %></div>
			<p><a href="<%=wallpaper.url%>" download="wallpaper<%= wallpaper.id %>.jpg">Download</a><p>
			<p><%= link_to 'Delete', wallpaper_path(wallpaper.id), confirm: "Delete this wallpaper?", method: :delete %></p>
		</div>
	<% end %>
</div>