<div class="thumbs-wrapper">
	<% @user.wallpapers.each do |wallpaper|  %>
		<div class="wallpaper-thumbs">
			<div class="wallpaper-img" data-wallpaper-id=<%= wallpaper.id %>><img src=<%= wallpaper.thumb %>></div>	
			<p><%= link_to 'Preview', wallpaper_path(wallpaper.id) %></p>
			<!-- <p><%#= link_to 'Delete', confirm: "Delete this wallpaper?", method: :delete %></p> -->
		</div>
	<% end %>
</div>

