// ------ ARROW STYLES ----- \\
.arrow {
	border-top: 2px solid $greyed-out;
	border-left: 2px solid $greyed-out;
}

.arrow:hover {
	border-color: $dark-grey;
	cursor: pointer;
}

.arrow-wrapper {

	&:nth-child(1) {	
		.arrow {@include rotate-image(-45deg);}
	}

	&:nth-child(3) {	
		.arrow {@include rotate-image(135deg);}
	}
}

.arrow-background {
	background-color: $background;
	-webkit-filter: blur(10px);	
}

// ---- TEXTBOX INPUT ---- \\

#wallpaper_quote, #wallpaper_citation {
	border: 2px solid $greyed-out;
	background-color: $light-grey;
}

#wallpaper_quote {
	padding: 2% 0 0 3%;
}

#wallpaper_citation {
	padding: 2% 0 2% 3%;
}

textarea, textarea:focus, input, input:focus {
	font-size: 2em;
}

textarea:focus, input:focus, .selected-color, .selected-layout {
	outline: 2px solid $orange;
}

// ------ SWATCHES ------ \\
// NOTE: Actual swatch colors are 
// applied with js because they are
// being applied based on the data
// attributes set from color schemes 
// in db.

.swatch {
	border: 2px solid $dark-grey;
}

