* {
	font-size: 18pt;
	font-family: "Lato", sans-serif;
}


.page-wrapper {
	background-color: $background;
}

.arrow {
	border-top: 2px solid $greyed-out;
	border-left: 2px solid $greyed-out;
}

.arrow:hover {
	border-color: $dark-grey;
	cursor: pointer;
}

.arrow-wrapper {

	&:nth-child(1) {	
		.arrow {@include rotate-image(-45deg);}
	}

	&:nth-child(3) {	
		.arrow {@include rotate-image(135deg);}
	}
}

.arrow-background {
	background-color: $background;
	-webkit-filter: blur(10px);	
}

#wallpaper_quote {
	padding-top: 2%;
	padding-left: 3%;
	border: none;
	background-color: $light-grey;
}

textarea:focus, .selected {
	outline: 2px solid $orange;
}
