// ------ GENERAL STRUCTURE ----- \\

* {
	box-sizing: border-box;
}

html, body, .page-wrapper {
	width: 100%;
	height: 100%;
}

textarea {
	resize: none;
}

.form-wrapper {
	width: 60%;
	height: 40%;
	min-height: 200px;
	position: absolute;
	@include center-vert-and-hor;
}

.inner-form {
	width: 100%;
	height: 100%;
}


// --------- NAV ARROWS -------- \\

.arrow-wrapper {
	height: 100%;

	&:nth-child(1), &:nth-child(3) {
		width: 5%;
	}
}

.arrow-wrapper, .form-elements {
	float: left;
	position: relative;
}

.arrow {
	z-index: 2;
	height: 30px;
	width: 30px;
	@include center-vert-and-hor;
}

.arrow-background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;	
}

// -------- FORM FIELDS -------- \\
// TEXTBOX, COLOUR INPUT, LAYOUT INPUT

.form-elements {
	width: 90%;
	height: 100%;
}


.form-element {
	@include center-vert-and-hor;

	&:nth-child(3) {
		display: none;
		width: 50%;
		height: 70%;
		@include center-vert-and-hor;
	}

	&:nth-child(4) {
		display: none;
	}
}

#wallpaper_quote {
	display: border-box;
	width: 90%;
	height: 50%;
	@include center-vert-and-hor;
}

// --------- SWATCHES ---------- \\

.swatch {
	height: 100%;
	width: 25%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	background-color: grey;

	div {
		height: 33%;
		width: 100%;		
	}
}








