// These are custom (non-reset) styles that 
// apply across all pages

* {
	box-sizing: border-box;
}

html, body, .page-wrapper {
	width: 100%;
	height: 100%;
}

*, p {
	font-family: "Lato", sans-serif;
}

.page-wrapper {
	background-color: $background;
}

a, a:visited, a:link, a:active, p {
	color: $greyed-out;	
	text-decoration: none;
}

a:hover {
	color: $dark-grey;
}