// These are custom (non-reset) styles that 
// apply across all pages

* {
	box-sizing: border-box;
}

html, body, .page-wrapper {
	width: 100%;
	height: 100%;
	background-color: $background;
}

*, p {
	font-family: "Lato", sans-serif;
}

.page-wrapper {
	background-color: $background;
}

a, a:visited, a:link, a:active, p {
	color: $greyed-out;	
	text-decoration: none;
}

a:hover {
	color: $dark-grey;
}

// THESE APPLY SPECIFICALLY BUT DO NOT WARRANT
// THEIR OWN FILE!

.img-wrapper {
	width: 100%;
	height: 100%;

	img {
		width: 100%;
	height: 100%;
	}
}

// OVERLAY STUFF!!

.overlay-wrapper {
	width: 100%;
	height: 100%;
	// display:none;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $dark-grey;
	opacity: 0.5;
	z-index: 100;
	display:none;
}

.info-box {
	width: 500px;
	height: 500px;
	position: absolute;
	@include center-vert-and-hor;
	background-color: $background;
	opacity: 1;
	z-index: 101;
	border: 4px solid $dark-grey;
	display:none;
}