// These are custom (non-reset) styles that 
// apply across all pages

* {
  box-sizing: border-box;
}

html, body, .page-wrapper {
  width: 100%;
  height: 100%;
  background-color: $background;
}

*, p, h1 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1.5em;
}
.page-wrapper {
  background-color: $background;
}

a, a:visited, a:link, a:active, p {
  color: $greyed-out; 
  text-decoration: none;
}

a:hover {
  color: $dark-grey;
}

// THESE APPLY SPECIFICALLY BUT DO NOT WARRANT
// THEIR OWN FILE!

.img-wrapper {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

// OVERLAY STUFF!!

.overlay-wrapper {
  width: 100%;
  height: 100%;
  display:none;
  position: fixed;
  z-index: 100;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $dark-grey;
  opacity: 0.5;
}

.info-box {
  width: 500px;
  height: 300px;
  @include center-vert-and-hor;
  background-color: $background;
  opacity: 1;
  border: 4px solid $dark-grey;
  text-align: center;
  padding: 2%;

  p {
    color: $dark-grey;  
  }

  li {
    margin-top: 10px;
  }
}

#close-modal {
  float: right;
  cursor: pointer;
  margin-top: -16px;
  margin-right: -10px;
}

.content {
  text-align: left;
  
  div {
    &:nth-child(1) {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

