@mixin rotate-image($deg) {
	transform: 				 rotate($deg);
	-webkit-transform: rotate($deg);
	-moz-transform: 	 rotate($deg);
	-o-transform: 		 rotate($deg);
	-ms-transform: 		 rotate($deg);
}

@mixin center-vert-and-hor {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

