html, body{
	height:100%;
	width:100%;
	position:relative;
}

#container{
	border:$test_border;
	position:relative;
	height:30rem;
	width:40rem;
	top:10%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#arrow_left{
	display:none;
 	left:$arrow_side_margin;
 	top:$arrow_top_margin;
 	opacity:$arrow_opacity;
 	z-index: 1;
}
#arrow_right{
	display:auto;
	right:$arrow_side_margin;
	top:$arrow_top_margin;
	opacity:$arrow_opacity;
	z-index:1;
}
#arrow_left, #arrow_right{
	background-color:$background-color;
	border:$test_border;
	position:fixed;
	width:auto;
}
#arrow_left:hover, #arrow_right:hover{
	opacity:1;
}
#arrow_right:active{
	opacity:0.7;
}

#quote_field, #colour_field, #layout_field, #submit_field{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}
#colour_field, #layout_field, #submit_field{
	
}

#quote_field{
	border:$test_border;
	height:9rem;
	width:19.5rem;
	z-index: 0;
	

	textarea{
		height:9rem;
		width:16rem;
	}
}

#colour_field{
	border:$test_border;
	height:9rem;
	width:19.5rem;
	margin-right: $field_start_pos;
	opacity:0;
	z-index: 0;
}

#layout_field{
	border:$test_border;
	height:9rem;
	width:19.5rem;
	margin-right: $field_start_pos;
	opacity:0;
	z-index: 0;
}

#submit_field{
	height:9rem;
	width:19.5rem;
	margin-right: $field_start_pos;
	opacity:0;		
	z-index: 0;
}

#preview{
	display:absolute;
	height:4rem;
	width:10rem;
	margin-left: 20%;
	margin-top: 10%;
}


