html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing:border-box;
}

html, body{
	height:100%;
	width:100%;
	background-color: #F2F2F2;
	// position:relative;
	font-size: 18px;
}

#container{
	border:$test_border;
	position:relative;
	height:85%;
	width:80%;
	top:10%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#arrow_left{
	display:none;
 	left:$arrow_side_margin;
 	top:$arrow_top_margin;
 	opacity:$arrow_opacity;
 	z-index: 1;
}

#arrow_right{
	display:auto;
	right:$arrow_side_margin;
	top:$arrow_top_margin;
	opacity:$arrow_opacity;
	z-index:1;
}

#arrow_left, #arrow_right{
	// background-color:$background-color;
	border:$test_border;
	position:absolute;
	width:auto;
}

#arrow_left:hover, #arrow_right:hover{
	opacity:1;
}

#arrow_right:active{
	opacity:0.7;
}

#quote_field, #colour_field, #layout_field, #submit_field{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#colour_field, #layout_field, #submit_field{
	position:absolute;
}

#quote_field{
	border:$test_border;
	height:$field_height;
	width:$field_width;
	z-index: 0;
	

	textarea{
		font-family: "Lato", sans-serif;
		color: #F2F2F2;
		height:9rem;
		width: 100%;
		background-color: #404040;

	}

	textarea:focus {
		outline: 2px solid #00D2D6;
	}
}

#colour_field{
	border:$test_border;
	height:42%;
	width:45%;
	margin-right: $field_start_pos;
	padding:0;
	opacity:0;
	z-index: 0;
}

#submit_field{
	border:$test_border;
	height:$field_height;
	width:$field_width;
	margin-right: $field_start_pos;
	opacity:0;		
	z-index: 0;
}

#preview{
	display:absolute;
	height:50%;
	width:60%;
	margin-left: 20%;
	margin-top: 10%;
}

#swatch_wrapper{
	border:$test_border;
	position:absolute;
	padding-left:10%;
	padding-right:10%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;	
	width: 378px;
}


#swatch_wrapper input[type=radio]{
	display: none;
}

#swatch_wrapper input[type=radio] + label{
	border:1px solid black;
	height:10rem;
	width:4.5rem;
	float:left;
	margin-top:0;
	margin-bottom:0;
	margin-right:1.5%;
	margin-left:1.5%;
}

#swatch_wrapper input[type=radio]:checked + label{
	-moz-box-shadow: 0 0 5px blue;
	-webkit-box-shadow: 0 0 5px blue;
	box-shadow: 0px 0px 5px blue;
}

#first { @include swatch-colours($c1_font, $c1_bg, $c1_highlight ); }

#second { @include swatch-colours($c2_font, $c2_bg, $c2_highlight); }
	
#third  { @include swatch-colours($c3_font, $c3_bg,  $c3_highlight); }

//layout field nesting
#layout_field{
	border:$test_border;
	height:60%;
	width:50%;
	margin-right: $field_start_pos;
	opacity:0;
	z-index: 0;
	
	input[type=radio]{
		display:none;
		position:absolute;
	}

	input[type=radio] + label{
		position:relative;
		float:left;
		background:url("http://placehold.it/200x125");
		width:200px;
		height:125px;
		margin-top:0.5rem;
		margin-left:0.5rem;
	}

	input[type=radio]:checked + label{
		-moz-box-shadow: 0 0 5px blue;
		-webkit-box-shadow: 0 0 5px blue;
		box-shadow: 0px 0px 5px blue;
	}

}
//end of layout field nesting


