$test_border: none;
$arrow_top_margin: 37%;

$arrow_side_margin: 12%;
$arrow_opacity: 0.7;

$background-color:white;

$field_start_pos: -30%;
$field_height: 32%;
$field_width: 40%;

//colour scheme 1
$c1_bg:rgb(4,27,38);
$c1_font:rgb(238,247,251);
$c1_highlight:rgb(33,99,131);

//colour scheme 2
$c2_bg:rgb(118,17,28);
$c2_font:rgb(255,251,247);
$c2_highlight:rgb(210,157,158);

//colour scheme 3
$c3_bg:rgb(12,68,29);
$c3_font:rgb(249,255,247);
$c3_highlight:rgb(192,229,180);

//user page colours

