<div id="nav-bar">
	<div class="nav-buttons"><p><%= link_to("New Wallpaper", new_wallpaper_path) %></p></div>
	<% if current_user %>
		<div class="nav-buttons"><p><%= link_to("My Profile", profile_users_path) %></p></div>	
	<% else %>
		<div class="nav-buttons"><p><%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook) %></p></div>	
	<% end %>
</div>