
<div class="overlay-wrapper">
	<div class="overlay">
	
	</div>
	<div class="info-box">
		<h1>How to cycle your wallpaper folder:</h1>
		<ul>
			<li><p>Open System Preferences</p></li>
			<li><p>Click on "Desktop & Screensave"</p></li>
			<li><p>Add the folder you just downloaded</p></li>
			<li><p>Set your cycle frequency by checking the box labeled: "Change Picture"</p></li>
		</ul>
	</div>

</div>