
<div class="overlay-wrapper">
  <div class="overlay">
  
  </div>
  <div class="info-box">
    <div id="close-modal">&#10006</div>
    <div class="content">
      <div><p>Quote Maker is an application with the goal of making it easy to create 
        a collection of well-designed desktop wallpapers from your favourite quotes.</p></div>
      <div>
        <h1>Cycle your wallpapers on OSX:</h1>
        <ul>
          <li><p>Open System Preferences</p></li>
          <li><p>Click on "Desktop & Screensaver"</p></li>
          <li><p>Add the folder you'd like to cycle</p></li>
          <li><p>Set your cycle frequency by checking the box labeled: "Change Picture"</p></li>
        </ul>
      </div>
    </div>
  </div>

</div>